= simple_form_for([:admin, @slide]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title, label: "标题"
  .form-inputs
    = f.input :summary, label: "介绍"
  .form-inputs
    = f.input :avatar, as: :file, label: "选择上传图片"

  .form-actions
    = f.button :submit, '提交'
