%li.nav-header{style: "width:100%"}
  = link_to "发布文章", new_admin_article_path, {style: "color:blue"}
  = link_to "编辑文章", admin_articles_path, {style: "color:blue"}
  = link_to "添加图片轮播", new_admin_slide_path, {style: "color:blue"}
  = link_to "新建子级菜单", new_admin_sub_category_path, {style: "color:blue"}
  %ul{style: "padding-left:10px"}
    - subcategory.each do |sub|
      %li
        %span= sub.name
        =link_to "删除", admin_sub_category_path(sub), { method: :delete, data: { confirm: "确定删除?"}, style: "float:right;color:blue" }
        =link_to "编辑|", edit_admin_sub_category_path(sub), {style: "float:right;color:blue"}