.span7.well
  = simple_form_for [:admin, @sub_category], { :class => 'span6 form-horizontal well'} do |f|
    = f.input :name, label: "菜单名称"
    .div
      = f.label :category_id, "父级菜单"
      = f.collection_select :category_id, @categories, :id, :name
    .div
      = f.submit "保存", class: "btn btn-primary btn-large"
      = link_to "取消", front_admin_path, class: "btn btn-info"